<h2><b>Resend confirmation instructions</b></h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div>
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
    <br>
    <div>
      <%= f.submit "Resend confirmation instructions", class: "btn btn-default" %>
    </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
