<%= form_for(@stock) do |f| %>
  <% if @stock.errors.any? %>
    <div id="error_explanation">
      <h3 class="alert alert-danger"><%= # noinspection RubyQuotedStringsInspection
              pluralize(@stock.errors.count, "error") %> prohibited this stock from being saved:</h3>

      <ul>
      <% @stock.errors.full_messages.each do |message| %>
        <div class="alert alert-danger"><%= message %></div>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :product_id %><br>
    <% if current_page?(action: 'new') %>
      <%= f.collection_select :product_id, Product.where.not(id: Stock.pluck(:product_id)).order(:name),:id,:name, {prompt: 'Select Product'}, {class: "form-control"} %>
    <% else %>
      <%= f.collection_select :product_id, Product.order(:name),:id,:name, {prompt: 'Select Product'}, {class: "form-control"} %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity, class: "form-control", :in => 0..1000, :step => 1 %>
  </div>
    <br>
  <div class="actions">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>