<%= form_for(@item) do |f| %>
    <% if @item.errors.any? %>
        <div id="error_explanation">
          <h4 class="alert alert-danger"><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h4>

          <ul>
            <% @item.errors.full_messages.each do |message| %>
                <div class="alert alert-warning"><%= message %></div>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :order_id %><br>
      <%= f.collection_select :order_id, Order.order(:custumer_name),:id,:custumer_name, {prompt: 'Select Order'}, {class: "form-control"}%>
    </div>
    <div class="field">
      <%= f.label :product_id %><br>
      <%= f.collection_select :product_id, Product.order(:name),:id,:name, {prompt: 'Select Product'}, {class: "form-control"} %>
    </div>
    <div class="field">
      <%= f.label :quantity %><br>
      <%= f.number_field :quantity, :in => 0..1000, :step => 1, class: "form-control" %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit class: "btn btn-primary"%>
    </div>
<% end %>
