<h2>Listing items</h2>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Order</th>
      <th>Product</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @items.each do |item| %>
        <tr>
          <td><%= Order.find(item.order_id).custumer_name %></td>
          <td><%= Product.find(item.product_id).name %></td>
          <td><%= item.quantity %></td>
          <td><%= link_to item do %>
                <span class="glyphicon glyphicon-list-alt" data-toggle="tooltip" data-placement="left" data-original-title="Show"></span>
            <% end %>
          </td>
          <td><%= link_to edit_item_path(item) do %>
                <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="left" data-original-title="Edit"></span>
            <% end %>
          </td>
          <td><%= link_to item, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="left" data-original-title="Delete"></span>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br>
<ul class="pager">
  <li class="previous"><%= link_to 'Home', root_path %></li>
  <li class="previous"><%= link_to 'New Item', new_item_path %></li>
</ul>
