<h2>Listing products</h2>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
          <td><%= link_to product  do %>
                <span class="glyphicon glyphicon-list-alt" data-toggle="tooltip" data-placement="left" data-original-title="Show"></span>
            <%end%>
          </td>
          <td><%= link_to edit_product_path(product), title: "Edit" do %>
                <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="left" data-original-title="Show"></span>
            <%end%>
          </td>
          <td><%= link_to product, method: :delete, data: { confirm: 'Are you sure?' }, title: "Delete" do %>
                <span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="left" data-original-title="Show"></span>
            <%end%>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<ul class="pager">
  <li class="previous"><%= link_to 'Home', root_path %></li>
  <li class="previous"><%= link_to 'New Product', new_product_path %></li>
</ul>
